/* components/organisms/BottomNavBar.module.css */

.navBar {
    background-color: rgba(255, 255, 255, 0.95); /* white/95 */
    backdrop-filter: blur(8px); /* backdrop-blur-md */
    padding: 1rem 2rem 2rem; /* px-8 pt-4 pb-8 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-slate-50);
}
